body,
html {
  background-color: #f9fafb;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 12px;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 12 / span 12;
}

.div2 {
  grid-column: span 10 / span 10;
  grid-row: span 12 / span 12;
}

.cardHeight {
  height: 98vh;
  box-sizing: border-box;
}

.nav {
  margin-bottom: 12px;
}

.navbar_color {
  background: white;
}
